<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block body %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Vacation List </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </head>
    <body>

    <h2> 'A' = Personality Type A (active, does well under stress). 'B' = Personality Type B (extroverted, relaxed. 'C' is Personality Type C (introverted, focused, detail-oriented)</h2>

    <div align="left">
    <section id="done">
        <form id="form" action="" method="POST">
            <input type="text" id="pt" name="pt">
            <label for="pt"> Enter your personality type</label>
            <input type="number" id="age" name="age">
            <label for="age"> Enter your age</label>

            <button class="btn  my-2 my-sm-0 text-white bg-info" type="submit"> Get your vacation recommendation!</button>
        </form>

        {{vacay.list}}
    </section>

{% endblock %}


</div>
</body>
</html>