<!DOCTYPE html>
<html>

  {% include "layouts/navbar.html" %}
  <head style="background-color: darkslateblue; color: aliceblue">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>

  <body style="background-color: darkslateblue; color: aliceblue">
    <style>

      #header {
        margin-top: 1rem;
      }
      #totalPoints {
        margin-left: .25rem;
      }
      .margins-autos {
        margin-left: auto;
        margin-right: auto;
        margin-top: .5rem;
        margin-bottom: .5rem;
      }
      .topicHeader {
        margin-top: .5rem;
        margin-right: .5rem;
      }
      .button {
        margin-left: .5rem;
        margin-right: .5rem;
      }
    </style>

    <script>
        var selected;
        var points = 0;
        var totalPoints = 0;

        function displayQ(id) {
          selected = id;
          switch(selected) {
            case "t1p100":
              document.getElementById("questionText").innerHTML = "Pregnancy can increase the risk of which condition in younger women?";
              points = 100;
            break;
            case "t1p200":
              document.getElementById("questionText").innerHTML = "What form of depression can a women get as a result of pregnancy?";
              points = 200;
            break;
            case "t1p300":
              document.getElementById("questionText").innerHTML = "What do you call the type of care a women must receive before giving birth?";
              points = 300;
            break;
            case "t2p100":
              document.getElementById("questionText").innerHTML = "On average, how often do women get their periods?";
              points = 100;
            break;
            case "t2p200":
              document.getElementById("questionText").innerHTML = "How much is spent on menstrual products every year in the U.S.?";
              points = 200;
            break;
            case "t2p300":
              document.getElementById("questionText").innerHTML = "What is the period-associated problem a women faces where the uterine tissue grows outside the uterus?";
              points = 300;
            break;
            case "t3p100":
              document.getElementById("questionText").innerHTML = "What kind of arthritis is more prevalent in women?";
              points = 100;
            break;
            case "t3p200":
              document.getElementById("questionText").innerHTML = "What is an important supplement to take to prevent osteoporosis?";
              points = 200;
            break;
            case "t3p300":
              document.getElementById("questionText").innerHTML = "Which hormone protects women against bone loss?";
              points = 300;
            break;
            case "t4p100":
              document.getElementById("questionText").innerHTML = "Women are much more likely than men to develop which mental health condition?";
              points = 100;
            break;
            case "t4p200":
              document.getElementById("questionText").innerHTML = "How many times more likely is a women likely to develop PTSD after a major, traumatic event?";
              points = 200;
            break;
            case "t4p300":
              document.getElementById("questionText").innerHTML = "---";
              points = 300;
            break;
          }
        }
        function checkAnswer() {
          var userInput = document.getElementById('answer').value;
          userInput = userInput.toLowerCase();
          switch(selected) {
            case "t1p100":
              if (userInput == "Stroke") {
                document.getElementById("questionText").innerHTML = "You are correct !";
                totalPoints = totalPoints + points;
                document.getElementById("totalPoints").innerHTML = totalPoints;
              } else {
                document.getElementById("questionText").innerHTML = "You are incorrect. Correct answer: Stroke";
              }
              selected = null;
              userInput = null;
            break;
            case "t1p200":
              if (userInput == "Postpartum depression") {
                document.getElementById("questionText").innerHTML = "You are correct !";
                totalPoints = totalPoints + points;
                document.getElementById("totalPoints").innerHTML = totalPoints;
              } else {
                document.getElementById("questionText").innerHTML = "You are incorrect. Correct answer: Obesity";
              }
              selected = null;
              userInput = null;
            break;
            case "t1p300":
              if (userInput == "Prenatal care") {
                document.getElementById("questionText").innerHTML = "You are correct !";
                totalPoints = totalPoints + points;
                document.getElementById("totalPoints").innerHTML = totalPoints;
              } else {
                document.getElementById("questionText").innerHTML = "You are incorrect. Correct answer: Estrogen";
              }
              selected = null;
              userInput = null;
            break;
            case "t2p100":
              if (userInput == "Every 21-35 days") {
                document.getElementById("questionText").innerHTML = "You are correct !";
                totalPoints = totalPoints + points;
                document.getElementById("totalPoints").innerHTML = totalPoints;
              } else {
                document.getElementById("questionText").innerHTML = "You are incorrect. Correct answer: Mammogram";
              }
              selected = null;
              userInput = null;
            break;
            case "t2p200":
              if (userInput == "$2 billion a year") {
                document.getElementById("questionText").innerHTML = "You are correct !";
                totalPoints = totalPoints + points;
                document.getElementById("totalPoints").innerHTML = totalPoints;
              } else {
                document.getElementById("questionText").innerHTML = "You are incorrect. Correct answer: Calcium";
              }
              selected = null;
              userInput = null;
            break;
            case "t2p300":
              if (userInput == "Endometriosis") {
                document.getElementById("questionText").innerHTML = "You are correct !";
                totalPoints = totalPoints + points;
                document.getElementById("totalPoints").innerHTML = totalPoints;
              } else {
                document.getElementById("questionText").innerHTML = "You are incorrect. Correct answer: Vitamin D";
              }
              selected = null;
              userInput = null;
            break;
            case "t3p100":
              if (userInput == "Rheumatoid arthritis") {
                document.getElementById("questionText").innerHTML = "You are correct !";
                totalPoints = totalPoints + points;
                document.getElementById("totalPoints").innerHTML = totalPoints;
              } else {
                document.getElementById("questionText").innerHTML = "You are incorrect. Correct answer: Oil";
              }
              selected = null;
              userInput = null;
            break;
            case "t3p200":
              if (userInput == "Vitamin D") {
                document.getElementById("questionText").innerHTML = "You are correct !";
                totalPoints = totalPoints + points;
                document.getElementById("totalPoints").innerHTML = totalPoints;
              } else {
                document.getElementById("questionText").innerHTML = "You are incorrect. Correct answer: Oxidized Melanin";
              }
              selected = null;
              userInput = null;
            break;
            case "t3p300":
              if (userInput == "Estrogen") {
                document.getElementById("questionText").innerHTML = "You are correct !";
                totalPoints = totalPoints + points;
                document.getElementById("totalPoints").innerHTML = totalPoints;
              } else {
                document.getElementById("questionText").innerHTML = "You are incorrect. Correct answer: Hormones";
              }
              selected = null;
              userInput = null;
            break;
            case "t4p100":
              if (userInput == "Depression") {
                document.getElementById("questionText").innerHTML = "You are correct !";
                totalPoints = totalPoints + points;
                document.getElementById("totalPoints").innerHTML = totalPoints;
              } else {
                document.getElementById("questionText").innerHTML = "You are incorrect. Correct answer: 11";
              }
              selected = null;
              userInput = null;
            break;
            case "t4p200":
              if (userInput == "Anorexia and bulmia nervosa") {
                document.getElementById("questionText").innerHTML = "You are correct !";
                totalPoints = totalPoints + points;
                document.getElementById("totalPoints").innerHTML = totalPoints;
              } else {
                document.getElementById("questionText").innerHTML = "You are incorrect. Correct answer: Depression";
              }
              selected = null;
              userInput = null;
            break;
            case "t4p300":
              if (userInput == "2x") {
                document.getElementById("questionText").innerHTML = "You are correct !";
                totalPoints = totalPoints + points;
                document.getElementById("totalPoints").innerHTML = totalPoints;
              } else {
                document.getElementById("questionText").innerHTML = "You are incorrect. Correct answer: Osteoarthritis";
              }
              selected = null;
              userInput = null;
            break;
          }
        }
    </script>

    <div class="container">

      <div class="row justify-content-center margins-autos">
        <h1 id="header">Trivia Game Show</h1>
      </div>
      
      <div class="row justify-content-center margins-autos">
        <p id="questionText">Pick a question !</p>
      </div>

      <div class="row justify-content-center margins-autos">
        <p class="topicHeader">Pregnancy</p>
            <button type="button" id="t1p100" class="button" onclick="displayQ(id)">100</button>
            <button type="button" id="t1p200" class="button" onclick="displayQ(id)">200</button>
            <button type="button" id="t1p300" class="button" onclick="displayQ(id)">300</button>
      </div>

      <div class="row justify-content-center margins-autos">
        <p class="topicHeader">Menstruation</p>
            <button type="button" id="t2p100" class="button" onclick="displayQ(id)">100</button>
            <button type="button" id="t2p200" class="button" onclick="displayQ(id)">200</button>
            <button type="button" id="t2p300" class="button" onclick="displayQ(id)">300</button>
      </div>

      <div class="row justify-content-center margins-autos">
        <p class="topicHeader">Bone Health</p>
            <button type="button" id="t3p100" class="button" onclick="displayQ(id)">100</button>
            <button type="button" id="t3p200" class="button" onclick="displayQ(id)">200</button>
            <button type="button" id="t3p300" class="button" onclick="displayQ(id)">300</button>
      </div>

      <div class="row justify-content-center margins-autos">
        <p class="topicHeader">Mental Health</p>
            <button type="button" id="t4p100" class="button" onclick="displayQ(id)">100</button>
            <button type="button" id="t4p200" class="button" onclick="displayQ(id)">200</button>
            <button type="button" id="t4p300" class="button" onclick="displayQ(id)">300</button>
      </div>

      <br>
      <div class="row justify-content-center margins-autos">
        <label for="answer" class="button">Your answer: </label>
        <input name="answer" id="answer">
        <button class="button" onclick="checkAnswer()">Submit</button>
      </div>

      <div class="row justify-content-center margins-autos">
        <p>Points:</p><p id="totalPoints">0</p>
      </div>

    </div>
  </body>

</html>
