<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}

<!-- Setting up variables to customize "project" details to be specific to volunteering -->


<!-- Setting up a block replacement to customize background to RINGS -->
{% block body %}
    <head>
    <h1 style="color: darkblue; text-align: center; position: center; font-size:100px; padding-top: 50px; font-family: 'Century Schoolbook'">Volunteering</h1>

    </head>
    <body style="background: lightpink">
    <p style="font-size: xx-large; font-family: 'Century Schoolbook'; text-align: center">
        We will be volunteering in places like the Scripps Hospital, the San Diego Blood Bank, Homeless shelters and much more!

    </p>
    <p style="font-size: xx-large; font-family: 'Century Schoolbook'; text-align: center">
        Sign up here for opportunities!

    </p>

    <br>
    <br>
    <br>

    <div style="font-size: xx-large; font-family: 'Century Schoolbook'; text-align: left">
        <a href="https://app.betterimpact.com/PublicOrganization/440138e7-f5aa-4606-add0-fbb0e0a3da45">San Diego Blood Bank </a>

        <img src="/static/assets/blood_bank.jpeg" width="500" height="300" right="200">

    </div>
<br>
    <br>

    <div style="font-size: xx-large; font-family: 'Century Schoolbook'; text-align: left">
        <a href="https://ucsdhealth.samaritan.com/custom/528/volunteer_home">UCSD Volunteering</a>
        <img src="/static/assets/ucsd_health.jpeg" width="500" height="300" right="200">


    </div>
<br>
    <br>
    <div style="font-size: xx-large; font-family: 'Century Schoolbook'; text-align: left">
        <a href="https://www.scripps.org/about-us/volunteer">Scripps Hospital Volunteering</a>
        <img src="/static/assets/scripps.jpeg" width="500" height="300" right="200">

    </div>

    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6424.615443060212!2d-117.16428555449899!3d32.75011751236879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1634528427073!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
<br>

    </body>



{% endblock %}