<!-- Extending the project layout, as this file will do minor customizations -->
{% include "layouts/navbar.html" %}

<!-- Setting up variables to customize "project" details to be specific to volunteering -->
{% set project = "Volunteering" %}
{% set overview = "https://www.youtube.com/watch?v=qXU-4Dwkv2E" %}
{% set scrumboard = "https://www.youtube.com/channel/UClIKOsDS5dsfzFA3zveDT3Q?view_as=subscriber" %}
{% set repo = "https://github.com/avabrooks/Python-Web-Portfolio-Series-Demo" %}
{% set authors = "https://thesmack.nighthawkcodingsociety.com/digitalPortfolios/"  %}

<!-- Setting up a block replacement to customize background to RINGS -->
{% block background %}
    <head>
    <h1 style="color: darkblue; text-align: center; position: center; font-size:100px; padding-top: 50px; font-family: 'Century Schoolbook'">Volunteering</h1>

    </head>
    <body style="background: lightpink">
    <p style="font-size: xx-large; font-family: 'Century Schoolbook'; text-align: center">
        We will be volunteering in places like the Scripps Hospital, the San Diego Blood Bank, Homeless shelters and much more!

    </p>
    <p style="font-size: xx-large; font-family: 'Century Schoolbook'; text-align: center">
        Sign up here for opportunities!
    </p>
    </body>



{% endblock %}