<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block body %}
<div class="center-block" style="margin: 2% 5% 5%; text-align:center; ">

    <div class="col-12">
        <h4 style="">Natalie Cohen</h4>
        <p   style="">I am a Junior at Del Norte </>
    </div>

    <div class="col-12">

    </div>
    <body style="background-color:;">
    <img src="/static/lexie.jpeg" alt="Lexie" style="width:50%">
    <script src="{{ url_for('static', filename='three.r119.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vanta.halo.min.js') }}"></script>
</div>
{% endblock %}