<!DOCTYPE html>
<html lang="en">
<head>
<style>
    img {
        border: 7px solid #8240e6;
    }

    img {
        border-radius: 15px;
    }

    <meta charset="UTF-8">
    <title>About Me</title>
</style>
</head>
<body style="background-color:paleturquoise;"></body>
<h1><p style="font-family:'Comic Sans MS'">Team Owl's "About Me" Page</p></h1>

    <h3><p style="font-family:'Comic Sans MS'">Hi this is Team Owl's page!</p></h3>

    &nbsp;

    <h4><p style="font-family:'Comic Sans MS'">Nayana</p></h4>
    <img src="../../static/pic.JPG" height="232" width="229"/>
    <h5><p style="font-family:'Comic Sans MS'">Hello, my name is Nayana! I am a senior and the treasurer/secretary of DNHS WHA. I hoping to get a better understanding of how to code through this class!</p></h4>


    &nbsp;

    <h4><p style="font-family:'Comic Sans MS'">Gray</p></h4>
    <img src="../static/Gray.jpg" height="270" width="200"/>
    <h5><p style="font-family:'Comic Sans MS'">My name is Gray Zhuang and I like drawing and coding.</p><h4>

    &nbsp;

    <h4><p style="font-family:'Comic Sans MS'">Mahima</p></h4>
    <img src="../../static/Mahima.JPG" height="232" width="180"/>
    <h5><p style="font-family:'Comic Sans MS'">I am the co VP of the Women's' Health Awareness Club. I love  biology and the biomedical sciences. In my free time,  I love watching movies, reading books and eating lots of desserts!</p></h5>


    &nbsp;

    <h4><p style="font-family:'Comic Sans MS'">Gabe</p></h4>
    <img src="../static/gabe.JPG" height="270" width="229"/>
    <body><p style="font-family:'Comic Sans MS'">My name is Gabriel Boudreau and I enjoy working out and spending time with friends.</p><h5>
