{% set project = "Gabriel" %}

{% block body %}
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
        <div class="col-12">
            <p>Hello, {{name}}!</p>
        </div>
        <div class="col-12">
            <form action="/gabriel" id="greet" method="POST" >
                <label for="name">What's your name?</label>
                <input name="name" id="name">
                <input type="submit" value="Hello!">
            </form>
        </div>
        <div class="col-12">
        </div>
    </div>
{% endblock %}
