<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>

  <body>
    <style>
      #header {
        margin-top: 1rem;
      }
      #totalPoints {
        margin-left: .25rem;
      }
      .margins-autos {
        margin-left: auto;
        margin-right: auto;
        margin-top: .5rem;
        margin-bottom: .5rem;
      }
      .topicHeader {
        margin-top: .5rem;
        margin-right: .5rem;
      }
      .button {
        margin-left: .5rem;
        margin-right: .5rem;
      }
    </style>

    <script>
        var selected;
        var points = 0;
        var totalPoints = 0;

        function displayQ(id) {
          selected = id;
          switch(selected) {
            case "t1p100":
              document.getElementById("questionText").innerHTML = "Insert topic 1 question 1";
              points = 100;
            break;
            case "t1p200":
              document.getElementById("questionText").innerHTML = "Insert topic 1 question 2";
              points = 200;
            break;
            case "t1p300":
              document.getElementById("questionText").innerHTML = "Insert topic 1 question 3";
              points = 300;
            break;
            case "t2p100":
              document.getElementById("questionText").innerHTML = "Insert topic 2 question 1";
              points = 100;
            break;
            case "t2p200":
              document.getElementById("questionText").innerHTML = "Insert topic 2 question 2";
              points = 200;
            break;
            case "t2p300":
              document.getElementById("questionText").innerHTML = "Insert topic 2 question 3";
              points = 300;
            break;
            case "t3p100":
              document.getElementById("questionText").innerHTML = "Insert topic 3 question 1";
              points = 100;
            break;
            case "t3p200":
              document.getElementById("questionText").innerHTML = "Insert topic 3 question 2";
              points = 200;
            break;
            case "t3p300":
              document.getElementById("questionText").innerHTML = "Insert topic 3 question 3";
              points = 300;
            break;
            case "t4p100":
              document.getElementById("questionText").innerHTML = "Insert topic 4 question 1";
              points = 100;
            break;
            case "t4p200":
              document.getElementById("questionText").innerHTML = "Insert topic 4 question 2";
              points = 200;
            break;
            case "t4p300":
              document.getElementById("questionText").innerHTML = "Insert topic 4 question 3";
              points = 300;
            break;
          }
        }
        function checkAnswer() {
          var userInput = document.getElementById('answer').value;
          switch(selected) {
            case "t1p100":
              if (userInput == "topic 1 answer 1") {
                document.getElementById("questionText").innerHTML = "You are correct !";
                totalPoints = totalPoints + points;
                document.getElementById("totalPoints").innerHTML = totalPoints;
              } else {
                document.getElementById("questionText").innerHTML = "You are incorrect. Insert topic 1 answer 1";
              }
              selected = null;
              userInput = null;
            break;
            case "t1p200":
              if (userInput == "topic 1 answer 2") {
                document.getElementById("questionText").innerHTML = "You are correct !";
                totalPoints = totalPoints + points;
                document.getElementById("totalPoints").innerHTML = totalPoints;
              } else {
                document.getElementById("questionText").innerHTML = "You are incorrect. Insert topic 1 answer 2";
              }
              selected = null;
              userInput = null;
            break;
            case "t1p300":
              if (userInput == "topic 1 answer 3") {
                document.getElementById("questionText").innerHTML = "You are correct !";
                totalPoints = totalPoints + points;
                document.getElementById("totalPoints").innerHTML = totalPoints;
              } else {
                document.getElementById("questionText").innerHTML = "You are incorrect. Insert topic 1 answer 3";
              }
              selected = null;
              userInput = null;
            break;
            case "t2p100":
              if (userInput == "topic 2 answer 1") {
                document.getElementById("questionText").innerHTML = "You are correct !";
                totalPoints = totalPoints + points;
                document.getElementById("totalPoints").innerHTML = totalPoints;
              } else {
                document.getElementById("questionText").innerHTML = "You are incorrect. Insert topic 2 answer 1";
              }
              selected = null;
              userInput = null;
            break;
            case "t2p200":
              if (userInput == "topic 2 answer 2") {
                document.getElementById("questionText").innerHTML = "You are correct !";
                totalPoints = totalPoints + points;
                document.getElementById("totalPoints").innerHTML = totalPoints;
              } else {
                document.getElementById("questionText").innerHTML = "You are incorrect. Insert topic 2 answer 2";
              }
              selected = null;
              userInput = null;
            break;
            case "t2p300":
              if (userInput == "topic 2 answer 3") {
                document.getElementById("questionText").innerHTML = "You are correct !";
                totalPoints = totalPoints + points;
                document.getElementById("totalPoints").innerHTML = totalPoints;
              } else {
                document.getElementById("questionText").innerHTML = "You are incorrect. Insert topic 2 answer 3";
              }
              selected = null;
              userInput = null;
            break;
            case "t3p100":
              if (userInput == "topic 3 answer 1") {
                document.getElementById("questionText").innerHTML = "You are correct !";
                totalPoints = totalPoints + points;
                document.getElementById("totalPoints").innerHTML = totalPoints;
              } else {
                document.getElementById("questionText").innerHTML = "You are incorrect. Insert topic 3 answer 1";
              }
              selected = null;
              userInput = null;
            break;
            case "t3p200":
              if (userInput == "topic 3 answer 2") {
                document.getElementById("questionText").innerHTML = "You are correct !";
                totalPoints = totalPoints + points;
                document.getElementById("totalPoints").innerHTML = totalPoints;
              } else {
                document.getElementById("questionText").innerHTML = "You are incorrect. Insert topic 3 answer 2";
              }
              selected = null;
              userInput = null;
            break;
            case "t3p300":
              if (userInput == "topic 3 answer 3") {
                document.getElementById("questionText").innerHTML = "You are correct !";
                totalPoints = totalPoints + points;
                document.getElementById("totalPoints").innerHTML = totalPoints;
              } else {
                document.getElementById("questionText").innerHTML = "You are incorrect. Insert topic 3 answer 3";
              }
              selected = null;
              userInput = null;
            break;
            case "t4p100":
              if (userInput == "topic 4 answer 1") {
                document.getElementById("questionText").innerHTML = "You are correct !";
                totalPoints = totalPoints + points;
                document.getElementById("totalPoints").innerHTML = totalPoints;
              } else {
                document.getElementById("questionText").innerHTML = "You are incorrect. Insert topic 4 answer 1";
              }
              selected = null;
              userInput = null;
            break;
            case "t4p200":
              if (userInput == "topic 4 answer 2") {
                document.getElementById("questionText").innerHTML = "You are correct !";
                totalPoints = totalPoints + points;
                document.getElementById("totalPoints").innerHTML = totalPoints;
              } else {
                document.getElementById("questionText").innerHTML = "You are incorrect. Insert topic 4 answer 2";
              }
              selected = null;
              userInput = null;
            break;
            case "t4p300":
              if (userInput == "topic 4 answer 3") {
                document.getElementById("questionText").innerHTML = "You are correct !";
                totalPoints = totalPoints + points;
                document.getElementById("totalPoints").innerHTML = totalPoints;
              } else {
                document.getElementById("questionText").innerHTML = "You are incorrect. Insert topic 4 answer 3";
              }
              selected = null;
              userInput = null;
            break;
          }
        }
    </script>

    <div class="container">

      <div class="row justify-content-center margins-autos">
        <h1 id="header">Trivia Game Show</h1>
      </div>
      
      <div class="row justify-content-center margins-autos">
        <p id="questionText">Pick a question !</p>
      </div>

      <div class="row justify-content-center margins-autos">
        <p class="topicHeader">Topic 1</p>
            <button type="button" id="t1p100" class="button" onclick="displayQ(id)">100</button>
            <button type="button" id="t1p200" class="button" onclick="displayQ(id)">200</button>
            <button type="button" id="t1p300" class="button" onclick="displayQ(id)">300</button>
      </div>

      <div class="row justify-content-center margins-autos">
        <p class="topicHeader">Topic 2</p>
            <button type="button" id="t2p100" class="button" onclick="displayQ(id)">100</button>
            <button type="button" id="t2p200" class="button" onclick="displayQ(id)">200</button>
            <button type="button" id="t2p300" class="button" onclick="displayQ(id)">300</button>
      </div>

      <div class="row justify-content-center margins-autos">
        <p class="topicHeader">Topic 3</p>
            <button type="button" id="t3p100" class="button" onclick="displayQ(id)">100</button>
            <button type="button" id="t3p200" class="button" onclick="displayQ(id)">200</button>
            <button type="button" id="t3p300" class="button" onclick="displayQ(id)">300</button>
      </div>

      <div class="row justify-content-center margins-autos">
        <p class="topicHeader">Topic 4</p>
            <button type="button" id="t4p100" class="button" onclick="displayQ(id)">100</button>
            <button type="button" id="t4p200" class="button" onclick="displayQ(id)">200</button>
            <button type="button" id="t4p300" class="button" onclick="displayQ(id)">300</button>
      </div>

      <br>
      <div class="row justify-content-center margins-autos">
        <label for="answer" class="button">Your answer: </label>
        <input name="answer" id="answer">
        <button class="button" onclick="checkAnswer()">Submit</button>
      </div>

      <div class="row justify-content-center margins-autos">
        <p>Points:</p><p id="totalPoints">0</p>
      </div>

    </div>
  </body>
</html>
