<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<body style="background-color:paleturquoise;">
<h1><p style="font-family:'Comic Sans MS'">Team Owl's "About Me" Page</p><h1>

    <h3><p style="font-family:'Comic Sans MS'">Hi this is Team Owl's page!</p></h3>



    <h4><p style="font-family:'Comic Sans MS'">Nayana</p></h4>
    <img src="../static/pic.JPG" height="232" width="229"/>

    <h4><p style="font-family:'Comic Sans MS'">Gray</p></h4>
    <img src="../static/Gray.jpg" height="270" width="200"/>

    <h4><p style="font-family:'Comic Sans MS'">Mahima</p></h4>
    <img src="../static/Mahima.JPG" height="232" width="200"/>

    <h4><p style="font-family:'Comic Sans MS'">Gabe</p></h4>
    <img src="../static/gabe.JPG" height="270" width="229"/>