<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini-Labs</title>
<style>
        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            background-color: #bd116d;
            padding: 10px;
        }
        .grid-item {
            background-color: rgba(235, 185, 233);
            border: 1px solid rgba(189, 17, 182);
            padding: 20px;
            font-size: 30px;
            text-align: center;
        }



</style>
</head>
<body style="background-color:lightpink;">
<h1><p style="font-family:'Comic Sans MS'">Team Owl's Mini-Labs</p></h1>

    <div class="grid-container">
        <a href="/Mahima">
            <div class="grid-item">Mahima's Greet Page</div>
        </a>

        <a href="/grayGreet">
            <div class="grid-item">Gray's Greet Page</div>
            </a>


        <a href="/Nayana2">
             <div class="grid-item">Nayana's Greet Page</div>
             </a>

        <a href="/gabriel">
            <div class="grid-item">Gabe's Greet Page</div>
            </a>

        <a href="/binary">
            <div class="grid-item">Binary Math Page</div>
            </a>

       <a href="/aboutme">
            <div class="grid-item">About Me Page</div>
            </a>

       <a href="/RGB">
           <div class="grid-item">RGB Mini Lab</div>
           </a>

      <div class="grid-item">Coming soon, stay tuned!</div>





</div>


</body>
</html>

