<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "nayana" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <body style="background-color:lavenderblush;">
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: 'Vladimir Script';color:firebrick; font-size:40px">
        <div class="col-12">
            <p>Hello, {{name}}!</p>
        </div>
        <div class="col-12">
            <form action="/ngreet/" id="greet" method="POST" >
                <label for="name">Type a greeting name?</label>
                <input name="name" id="name">
                <input type="submit" value="Greetings!">
            </form>
        </div>
        <div class="col-12">
        </div>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
