<!DOCTYPE html>
<style>

    button{
        height: 50px;
        width: 200px;
        background: #d1badb;
        outline: coral;
    }
</style>

<br>
<script>
    function toggle() {
        if (imageType == 0) {
            document.getElementById("grayscaletoggle").element.blur();
            document.getElementById('togglebutton').style.backgroundColor='#d1badb';

            imageType = 1;
        } else {
            document.getElementById("grayscaletoggle").element.blur();
            document.getElementById('togglebutton').style.backgroundColor='#d9848a';
            imageType = 0;
        }
    }
</script>



<br>

</div>
<div class="row" style="padding:0%; padding-top: 5%; padding-bottom: 5%;">
    <img src="/static/assets/mountain_scenery.jpeg" id="grayscaletoggle"  alt="Colored Mountain" width="300" height="200" />
</div>
</br>

<br>



